.container {
    width: 100%;
    height: calc(100vh - 12.5rem);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    justify-content: space-between;
    padding: 1rem;
    gap: .5rem 2rem;
    overflow: scroll;
    overflow-x: hidden;
}