.containerProcess{
    margin: 2rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    animation: var(--animation-appear);
    font-size: var(--text-md);
}

.backgroundTrash{
    margin-top: 2.9rem;
    width: 2.8rem;
    padding: 0.125rem;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-apWhite);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-left: solid 0.125rem var(--color-darkBlue);
    border-top: solid 0.125rem var(--color-darkBlue);
    border-right: none;
    border-bottom: solid 0.125rem var(--color-darkBlue);
}

.backgroundTrash button{
    border: none;
}

.selectAllBtn svg{
    width: 2rem;
    height: 2rem;
    color: var(--btn-bg-darkBlue);
}

.selectAllBtn svg:hover{
    color: var(--btn-bg-darkBlue-hover);
    transition: var(--transition-pass);
}

.freeBtn svg{
    width: 2rem;
    height: 2rem;
    color: var(--btn-free);
}

.freeBtn svg:hover{
    color: var(--btn-free-hover);
    transition: var(--transition-pass);
}

.deleteBtn svg{
    width: 2rem;
    height: 2rem;
    color: var(--btn-delete);
}

.deleteBtn svg:hover{
    color: var(--btn-delete-hover);
    transition: var(--transition-pass);
}

.containerTable{
    padding: 0.5rem;
    width: var(--container-process);
    height: 40rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bg-apWhite);
    border-radius: var(--border-radius);
    border: solid 0.125rem var(--color-darkBlue);
}

.headerTable{
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-flow: row nowrap;
}

.titleCol{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.titleCol>span{
    flex-basis: var(--flex-basis-process);
    align-self: flex-start;
}

.tableSearch{
    padding: 0 0.5rem;
    width: 100%;
    flex-basis: var(--flex-basis-process);
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius-input);
    border: solid 0.125rem var(--color-darkBlue);
    
}

.tableSearch>input{
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
}

.containerTable>hr{
    width: 100%;
    border: solid 0.12rem var(--color-darkBlue);
}

.tableCol{
    padding-top: 0.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.tableCol::-webkit-scrollbar-track{
    background: none;
}

.tableCol>div{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btnCheck{
    width: 2rem;
    height: 2rem;
    border: 0.125rem solid black;
}

.tableCol>div>p{
    padding-left: 0.5rem;
    flex-basis: var(--flex-basis-process);
    height: 100%;
    align-self: flex-start;
    text-wrap: wrap;
    line-height: 0.85rem;
}

.processKeyId{
    word-break: break-all;
}

.tableCol>div>input{
    width: 1.2rem;
    height: 1.2rem;
}

.tableCol div svg{
    width: 100%;
    height: 1.5rem;
    align-self: center;
}

.controlProcess{
    flex-basis: var(--flex-basis-process);
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.controlProcess>button{
    border: none;
}

@media (max-width: 67.5rem) {
    .containerProcess{
        font-size: var(--text-sm);
    }

    .headerTable{
        height: 2rem;
    }

    .containerTable{
        width: var(--container-process-HD);
    }

    .tableSearch{
        height: 1.5rem;
        flex-basis: var(--flex-basis-process-HD);
    }

    .tableCol>div{
        height:auto;
    }

    .tableCol div svg{
        height: 1.2rem;
    }

    .tableCol>div>p{
        padding-left: 0.125rem;
        flex-basis: var(--flex-basis-process-HD);
    }

    .tableCol>div>input{
        width: 0.8rem;
        height: 0.8rem;
    }

    .titleCol>span{
        flex-basis: var(--flex-basis-process-HD);
    }

    .controlProcess{
        flex-basis: var(--flex-basis-process-HD);
        gap: 0.5rem;
    }


}

@media (max-width: 40rem) {
    .containerProcess{
        font-size: var(--text-mobile);
    }

    .headerTable{
        height: 1.5rem;
    }

    .containerTable{
        width: var(--container-process-mobile);
    }

    .tableSearch{
        height: 1rem;
        flex-basis: var(--flex-basis-process-mobile);
    }

    .tableCol>div{
        height: 1rem;
    }

    .tableCol div svg{
        height: 0.8rem;
    }

    .tableCol>div>p{
        padding-left: 0;
        flex-basis: var(--flex-basis-process-mobile);
    }

    .tableCol>div>input{
        width: 0.5rem;
        height: 0.5rem;
    }

    .titleCol>span{
        flex-basis: var(--flex-basis-process-mobile);
    }

    .controlProcess{
        flex-basis: var(--flex-basis-process-mobile);
        gap: 0.5rem;
    }
}





.container {
    width: 100%;
    height: calc(100vh - 5rem);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
}

.sectionContainer {
    width: 100%;
    display: flex;
}

.sectionContainer:nth-of-type(1) {
    display: flex;
    flex-direction: column;
}

.sectionContainer:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.sectionContainer:nth-of-type(3) {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.optionsContainer {
    display: flex;
    gap: .5rem;
    margin-left: 5% ;
}

.optionsContainer button {
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--bg-apWhite);
    cursor: pointer;
    transition: .3s;
}

.table, .th, .td {
    border-collapse: collapse;
    padding: .2rem 1rem;
    text-align: left;
}

.th:first-of-type {
    margin-left: .5rem;
}

.table thead{
    border-bottom: 2px solid #000;
}

.table tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

.table {
    width: 100%;
}

.tableContainer {
    width: 90%;
    height: calc(100vh - 210px);
    margin: 0 auto;
}

.tableHeader {
    width: 100%;
    height: 24px;
    
}

.tableBody {
    width: 100%;
    height: max-content;
    max-height: 100%;
    background-color: #F2F2F2;
    margin: .8rem auto;
    overflow: scroll;
}

.tableBody,
.monthlyInfoContainer {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.tableBody::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.tableBody::-webkit-scrollbar-thumb {
    background-color: #0004;
    border-radius: 5px;
    visibility: hidden;
}

.tableBody:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

.tableBody::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 5px;
}

.tableBody::-webkit-scrollbar-corner {
    background-color: transparent;
}

.tableBody tbody tr:hover {
    background-color: #e0e0e0;
}

.th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #F2F2F2;
    text-transform: uppercase;
}

.td:last-of-type {
    display: flex;
    gap: 1rem;
    width: max-content;
}

.icon {
    display: flex;
    /* margin: 0 auto; */
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.monthlyInfoContainer {
    width: 100%;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin: .8rem auto;
    overflow: auto;
    padding: .2rem 1rem;
}

.monthlyInfoContainer p {
    text-transform: uppercase;
}


.smallTableContainer {
    width: 50%;
}

.reportShortcutButton {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: .5rem;
    background: none;
    border: 2px solid #000;
    outline: none;
    cursor: pointer;
    font-family: inherit;
}

.reportShortcutButton svg {
    width: 24px;
    height: 24px;
}

.reportShortcutButton:hover {
    background-color: #e3e3e3;
    transition: 0.3s;
}