.Skeleton{
    margin: 2rem auto;
    width: var(--container-form);
    height: 40rem;
    border: solid 0.6rem var(--bg-gray);
    border-radius: var(--border-radius);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    animation: var(--animation-pulse);
}

.containerHeader{
    padding: 0.7rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 0.4rem var(--bg-gray);
}

.containerHeader>div:nth-child(-n+4){
    width: 5rem;
    height: 0.7rem;
    background-color: var(--bg-gray);   
}

.containerHeader>div:nth-child(5){
    width: 7rem;
    height: 2rem;
    border-radius: var(--border-radius);
    border: solid 0.3rem var(--bg-gray);
}

.containerRow{
    padding: 1.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.contentBars{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.contentBars>div:nth-child(2n+1){
    width: 80%;
    height: 0.5rem;
    background-color: var(--bg-gray);
    animation: var(--animation-pulse);
}

.contentBars>div:nth-child(2n){
    width: 60%;
    height: 0.6rem;
    background-color: var(--bg-gray);
    animation: var(--animation-pulse);
}

.contentBars>div:nth-child(3n+2){
    width: 70%;
    height: 0.7rem;
    background-color: var(--bg-gray);
    animation: var(--animation-pulse);
}