.containerTable{
    /* margin: 2rem; */
    margin: 2rem auto;
    /* padding: 0.5rem; */
    padding: 0.5rem 1rem;
    max-width: var(--container-process-lawyer);
    height: 40rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--bg-apWhite);
    border-radius: var(--border-radius);
    border: solid 0.125rem var(--color-darkBlue);
    animation: var(--animation-appear);
}

.headerTable{
    width: 100%;
    height: 2.5rem;
    display: flex;
    flex-flow: row nowrap;
}

.titleCol{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
}

.titleCol span{
    flex-basis: var(--flex-basis-process-lawyer);
    align-self: flex-start;
}

.tableSearch{
    padding: 0 0.5rem;
    flex-basis: var(--flex-basis-process-lawyer);
    height: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius-input);
    border: solid 0.125rem var(--color-darkBlue);
    
}

.tableSearch input{
    width: 80%;
    height: 100%;
    background: none;
    outline: none;
    border: none;
}

.containerTable hr{
    /* width: 120%; */
    width: 100%;
    border: solid 0.12rem var(--color-darkBlue);
}

.tableCol{
    padding-top: 0.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}

.tableCol div{
    width: 100%;
    display: flex;
    align-items: center;
}

.tableCol div p{
    padding-left: 0.125rem;
    flex-basis: var(--flex-basis-process-lawyer);
    height: 100%;
    align-self: flex-start;
    text-wrap: wrap;
    line-height: 0.85rem;
}

.processKeyId{
    word-break: break-all;
}


.controlProcess{
    flex-basis: var(--flex-basis-process-lawyer);
    display: flex;
    justify-content: center;
}

.controlProcess>button{
    border: none;
}

.controlProcess>button>svg{
    width: var(--flex-basis-process-lawyer);
    height: 1.5rem;
    align-self: center;
}

@media (max-width: 67.5rem) {
    .containerProcess{
        font-size: var(--text-sm);
    }

    .headerTable{
        height: 2rem;
    }

    .containerTable{
        width: var(--container-process-lawyer-HD);
    }

    .tableSearch{
        height: 1.5rem;
        flex-basis: var(--flex-basis-process-lawyer-HD);
    }

    .tableCol>div{
        height: 1.5rem;
    }

    .tableCol div svg{
        height: 1.2rem;
    }

    .tableCol>div>p{
        padding-left: 0;
        flex-basis: var(--flex-basis-process-lawyer-HD);
    }

    .tableCol>div>input{
        width: 0.8rem;
        height: 0.8rem;
    }

    .titleCol>span{
        flex-basis: var(--flex-basis-process-lawyer-HD);
    }

    .controlProcess{
        flex-basis: var(--flex-basis-process-lawyer-HD);
        gap: 1rem;
    }


}

@media (max-width: 40rem) {
    .containerProcess{
        font-size: var(--text-mobile);
    }

    .headerTable{
        height: 1.5rem;
    }

    .containerTable{
        width: var(--container-process-lawyer-mobile);
    }

    .tableSearch{
        height: 1rem;
        flex-basis: var(--flex-basis-process-lawyer-mobile);
    }

    .tableCol>div{
        height: 1rem;
    }

    .tableCol div svg{
        height: 0.8rem;
    }

    .tableCol>div>p{
        padding-left: 0;
        flex-basis: var(--flex-basis-process-lawyer-mobile);
    }

    .tableCol>div>input{
        width: 0.5rem;
        height: 0.5rem;
    }

    .titleCol>span{
        flex-basis: var(--flex-basis-process-lawyer-mobile);
    }

    .controlProcess{
        flex-basis: var(--flex-basis-process-lawyer-mobile);
        gap: 0.5rem;
    }
}